body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background: #fff;
}

.navbar.navbar-inverse.navbar-fixed-top {
    
    z-index: 10 !important;
    margin-bottom: 0px;
    border-radius: inherit;
    padding: 7px !important;
}

.navbar.navbar-inverse {
    background: #11674d;
    border-bottom: none;
}

.navbar {
    color: rgba(255, 255, 255, 0.8);
    min-height: 0px;
    padding: 5px 5px 5px 5px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 768px)
{
.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px)
{
.navbar {
    border-radius: 4px;
}

.navbar {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
}
.navbar .navbar-header .title {
    position: relative;
    z-index: 9;
    background: rgba(28, 201, 149, 0.4);
    padding: 8px 13px;
    border-radius: 3px;
}
.navbar .navbar-header .title h3 {
    font-size: 13px;
    margin: 0px;
    font-weight: 600;
}
.navbar h2 {
    margin: 0px;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
}
.navbar .navbar-header .title a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}