<div class="container">
<div class="row">
<h3 class="task-boa">Task Boards</h3>
<div *ngFor="let boardnames of getboards">
  <div class="bord">
 <a   (click)="boarddet(boardnames._id)"> 
   <div class="name_b board-cont">
   
 
    {{boardnames.board_name}}
  </div>
  
	</a>
	<a  class="cls" (click)="boarddelete(boardnames._id)"> <span class="close-board"><img  class="img-responsive " src="https://mean-trello-clone.herokuapp.com/assets/cancel-music.svg"></span></a>
  </div>
</div> 

<a (click)="create_board()">
	<div class="name_b board-cont crt">
<h3 >Create Board</h3>



</div>
</a>
<div class="add-form" *ngIf="addboardnfg">
	<form  method="post"   class="form-horizontal" #supportform="ngForm" (ngSubmit)="crb(support,supportform)">
					<div class="create-board-form">
				
						<input class="form-control ng-untouched ng-pristine ng-valid" name="boardname" #boardname ="ngModel" placeholder="Board name" type="text" ngModel>
						
						<button class="btn btn-default green" type="submit">Save</button>
						<button class="btn btn-default" type="button" (click)="closeboard()">Cancel</button>
                        <div class="clear"></div>
					
				</div>
					
					
					
				
            </form>
            </div>
</div>
</div>

