.name_b
{
    position: relative;
    padding: 10px 15px;
    background: #11674d;
    color: #fff;
    cursor: pointer;
    width: 250px;
    height: 100px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bord {
    display: table;
    position: re;
    position: relative;
    float: left;
    
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-default.green {
    background: #11674d;
    color: #fff;
    box-shadow: none;
    margin-left: 10px;
    border-color: transparent;
}
.btn-default {
    margin-top: 10px;
    float: right;
}
.board.create-board.create-board-form {
    position: absolute;
    background: #fff;
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
h2{
    font-size: 20px;
    font-weight: 600;
}
.board-cont {
    position: relative;
    width: 222px;
    height: 100px;
    margin: 0px 10px 10px 0px;
    float:left;
}

.close-board {
    display: block !important;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
    display: none;
    z-index: 99;
    top: 15px;
}
.name_b.board-cont.crt {
    background: #eee;
}
h3.task-boa {
    font-size: 18px;
    font-weight: bold;
}
.name_b.board-cont.crt h3 {
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
    color: #000;
}
.close-board img {
    width: 10px;
    height: 10px;
}
.add-form {
    display:table;
    margin-top: 42px;
    border: 1px solid #000;
    padding: 10px;
}
@media (min-width: 1200px)
{
.container {
    width: 1213px !important;
}
}