<section class="page-wrapper task-list-container">
<div class ="container-fluid" >
  <div class="row">
    <h3 class="board_tit">{{getboards?.board_name}}</h3>
    <div class= "col-md-12">
    <div *ngFor="let boardnames1 of getlists?.lists">
 
<div class="list-card ">
  <div class="dropdown">
  <button _ngcontent-c3="" class="dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true">
   ...
  </button>
  
  <ul class="dropdown-menu">
    <li><a href="#">delete</a></li>
    
  </ul>
  </div>
    {{boardnames1.list_name}}
    <div  class="task-item sortable-item" *ngFor="let boardnames of  boardnames1?.task?.task?.tasks">
    <h4  class="task-name">{{boardnames?.task_name}}</h4>
   
 
 
    
  </div>
  

    <a class="add-card col-md-12"  (click)="addtaskopenpop(boardnames1?._id)">Add a task</a>
<div id="myModal" class="modal fade in" role="dialog" *ngIf='addtaskclose' style="display: block; padding-left: 15px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Add Task</h4>
      </div>
      <div class="modal-body">
   <div   class="task-item new-card edit-dialog selected-card" style="display: block;">
                        <div  class="edit-task">
                             <form novalidate="" class="ng-untouched ng-pristine ng-valid"  #addlist="ngForm" (ngSubmit)="addlistv(event,addlist)">
                            <textarea  class="form-control ng-pristine ng-valid ng-touched" name="addlist" ngModel #addlist="ngModel" required></textarea>
                            <button  class="btn btn-default green save-card" type="submit">Save</button>
                            <button  (click)="addtaskclosepop()" class="btn btn-default cancel-card">Cancel</button>
                            <div  class="clear"></div>
                            </form>
                        </div>
                    </div>
                    </div>
      
    </div>

  </div>
</div>

  </div>
  

</div> 
</div>
<div class="col-md-12">
<div class="list-card create-list-card  " *ngIf='createopen'>
   <div ><a (click)="openpop()">Create a new list..</a></div>
                   

    </div>
    <div class="list-card create-list-card create-open" *ngIf='createclose'>
                    <div><a href="javascript:;">Create a new list..</a></div>
                    <!----><div class="create-list">
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid"  #listform="ngForm" (ngSubmit)="crtlist(event,listform)">
                            <input class="form-control ng-untouched ng-pristine ng-valid" name="listname" type="text" ngModel #listname="ngModel" required>
                            <!---->
                            <button class="btn btn-default green" type="submit">Save</button>
                            <button class="btn btn-default"  (click)="closepop()"type="button">Cancel</button>
                            <div class="clear"></div>
                        </form>
                    </div>

                </div>
    </div>
  </div>
</div>
</section>