.task-list-container {
    background: rgba(17, 103, 77, 0.9);
    min-height: 100vh;
}
.open>.dropdown-menu {
    margin-left: 107px;
    margin-top: 10px;
    display: block;
    text-align: right;
    float: right !important;
}
.dropdown-toggle {
    float: right;
    background: none;
    border: none;
    padding: 0px;
    box-shadow: none !important;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -16px;
}
h3.board_tit {
    color: #fff;
    margin-bottom: 0px;
    margin-left: 20px;
}
.modal-body {
    display: table;
}
.modal-content {
    background: #eee;
    display: table;
    width: 40%;
    margin-left: 217px;
}
.list-card {
    margin-top: 20px;
    background: #e2e4e6;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 279px;
    padding: 10px;
    border-radius: 3px;
    float: left;
}
.task-item {
    background: #fff;
    padding: 2px 15px 15px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    position: relative;
}
.task-item h4 {
    font-size: 14px;
    border: none;
    margin-top: 5px;
    text-transform: capitalize;
}
.list-card.create-list-card {
    background: rgba(255, 255, 255, 0.12);
}
.list-card.create-list-card.create-open {
    background: #e2e4e6;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-default.green {
    background: #11674d;
    color: #fff;
    box-shadow: none;
    margin-left: 10px;
    border-color: transparent;
}
.btn-default {
    margin-top: 10px;
    float: right;
}


.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding : 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.list-card a {
    color: #666 !important;
    font-size: 14px;
    text-decoration: none;
}
.list-card .task-item.new-card {
    display: table !important;
    margin-bottom: 20px !important;
    padding: 10px;
    display: none;
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.task-item .selected-card, .task-item.selected-card {
    position: relative;
    z-index: 999;
}
.task-item {
    background: #fff;
    padding: 2px 15px 15px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    position: relative;
}